@media print {
  body {
    width: 100vw !important;
    overflow: hidden !important;
    margin: 0 !important;
    padding: 0 !important;
  }
  #root {
    width: 100vw !important;
    overflow: hidden !important;
  }
  .MuiTable-root, .MuiTableContainer-root, .MuiPaper-root {
    width: 100vw !important;
    max-width: 100vw !important;
    overflow: visible !important;
    box-shadow: none !important;
  }
  .MuiDialog-root, .MuiDialog-container, .MuiDialog-paper {
    display: none !important;
  }
  /* スクロールバー非表示 */
  ::-webkit-scrollbar {
    display: none !important;
  }

}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
